<ion-view view-title="Account">
  <ion-content>
    <div class="item item-image account-profile-picture">
      <img src="https://pbs.twimg.com/profile_images/575994177843904512/Su6OblHX.jpeg">
    </div>
    <ion-list>
      <!--<ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>-->
      <div class="row">
        <div class="col event-page-col">
          <ul class="list">
            <div class="row single-event-info-row">
              <div class="col event-page-col">
                <li class="item no-middle-border">
                  Name:
                </li>
              </div>
              <div class="col event-page-col">
                <li class="item no-middle-border">
                  Cat Armstrong
                </li>
              </div>
            </div>
            <div class="row single-event-info-row">
              <div class="col event-page-col">
                <li class="item no-middle-border">
                  Joined Date:
                </li>
              </div>
              <div class="col event-page-col">
                <li class="item no-middle-border">
                  Yesterday
                </li>
              </div>
            </div>
            <div class="row single-event-info-row">
              <div class="col event-page-col">
                <li class="item no-middle-border">
                  Email:
                </li>
              </div>
              <div class="col event-page-col">
                <li class="item no-middle-border">
                  testy@test.com
                </li>
              </div>
            </div>
          </ul>
        </div>
      </div>
      <button class="button button-full button-positive" ng-click="vm.logout()">
      Logout
    </button>
    </ion-list>
  </ion-content>
</ion-view>
