<ion-view view-title="Dashboard">
  <ion-content class="padding">
    
    <h3 class="dash-heading">Welcome to Banataba, Cat!</h3>
    <div class="list card" ng-repeat="event in vm.events">
      <div class="item item-avatar dash-event-heading">
        <!--<img src="mcfly.jpg">-->
        <h2>{{event.performers[0].stage_name}}</h2>
        <p>{{event.start_date | date: 'MM/dd/yyyy @ h:mma'}}</p>
      </div>
      <div class="item item-body">
        <!--<img class="full-image" src="delorean.jpg">-->
        <p>
          Performers: {{event.performers[0].stage_name}}
        </p>
        <p>
          {{event.description}} This is a short description of the event.
        </p>
        <p>
          <a href="#" class="subdued">1 Follower</a>
          <!--<a href="#" class="subdued">5 Comments</a>-->
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
